trainer:
  max_steps: 40000
  val_check_interval: ~
  check_val_every_n_epoch: 10
  logger: ~
model:
  class_path: training.protonet_semantic.ProtoNetSemantic
  init_args:
    freeze_encoder: True
    prototypes_path: "/home/valentin/workspaces/benchmark-vfm-ss/output/anorak/prototypes_fold0.pt"
    network:
      class_path: models.histo_protonet_decoder.ProtoNetDecoder
      init_args:
        metric: "L2"
        center_feats: true
        normalize_feats: true
        ignore_idx: 255
    tiler:
      class_path: training.tiler.GridPadTiler
      init_args:
        tile: 448
        stride: 384 # overlap = 64
        weighted_blend: false # or true to use hanning window
        pad_mode: "replicate" 
        pad_value: 0.0
data:
  class_path: datasets.anorak.ANORAKFewShot
  init_args:
    overwrite_root: "/home/valentin/workspaces/benchmark-vfm-ss/data/ANORAK_10x"
    img_size: [448, 448]
    prefetch_factor: 4
    fold: 0
    batch_size: 1
    num_classes: 7
    num_metrics: 1
    ignore_idx: 255
